# env files
/.env
/.vscode
/venv

#pycache
__pycache__/

# Keeping it legal
/PokemonRed.gb

# saved runs
runs/

# Extra stuff from the GitHub repo
/VisualizeProgress.ipynb
/clip_experiment
/visualization